<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-6">
        <div class="card border-info">
          <div class="card-header">Login</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="https://placeimg.com/128/128/nature">
              </div>
              <div class="col-md-8">
                  <input type="text" class="form-control mb-2" [(ngModel)]="email" placeholder="Email" required autofocus>
                  <input type="password" class="form-control mb-2" [(ngModel)]="password"  placeholder="Password" required>
                  <button class="btn btn-lg btn-primary btn-block mb-1" (click)="login()" type="submit">Login</button>
                  <button class="btn btn-lg btn-primary btn-block mb-1" (click)="loginGoogle()" type="submit">Login Google</button>
              </div>
              <div class="col-md-8">
                <div id="recaptcha-container"></div>
                <input type="text" class="form-control mb-2" [(ngModel)]="phone" placeholder="Telefono" required autofocus>
                <button class="btn btn-lg btn-primary btn-block mb-1" (click)="loginPhone()" type="submit">Via Telefono</button>
              </div>
              <p> {{user | json}}</p>
            </div>
            <div class="row">
              <button class="btn btn-lg btn-primary btn-block mb-1" (click)="logout()" type="submit">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
