<div fxLayout="row" style="width: 100%; height: 40px; background-color:#afafaf; padding:10px;">
</div>
<div fxLayout="row" style="width: 100%; height: calc(100% - 40px); background-color:#f5f5f5; padding:10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="40" fxLayoutGap="10px">
        <div class="display">
            {{displayText}}
        </div>
        <div style="height: 80px; width: 100%; margin-top: 30px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="33" class="calcBtn" (click)="clickNum(7)"  fxLayoutAlign="center center">7</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(8)" fxLayoutAlign="center center">8</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(9)" fxLayoutAlign="center center">9</div>
        </div>
        <div style="height: 80px; width: 100%;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="33" class="calcBtn" (click)="clickNum(4)" fxLayoutAlign="center center">4</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(5)" fxLayoutAlign="center center">5</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(6)" fxLayoutAlign="center center">6</div>
        </div>
        <div style="height: 80px; width: 100%;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="33" class="calcBtn" (click)="clickNum(1)" fxLayoutAlign="center center">1</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(2)" fxLayoutAlign="center center">2</div>
            <div fxFlex="33" class="calcBtn" (click)="clickNum(3)" fxLayoutAlign="center center">3</div>
        </div>
        <div style="height: 80px; width: 100%;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="66" class="calcBtn" (click)="clickNum(0)" fxLayoutAlign="center center">0</div>
        </div>
        <div style="height: 80px; width: 100%; margin-top: 30px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="100" class="calcBtn" (click)="addebita(7)"  fxLayoutAlign="center center">Addebita</div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="7" fxLayoutGap="10px">
        <div style="height: 82px; width: 100%;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="canc()" fxLayoutAlign="center center">C</div>
        </div> 
        <div style="width: 100%; height: 170px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="sub()" fxLayoutAlign="center center">-</div>
        </div> 
        <div style="width: 100%;height: 170px" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="sum()" fxLayoutAlign="center center">+</div>
        </div>  
        <div style="height: 82px; width: 100%;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="multi()" fxLayoutAlign="center center">X</div>
        </div>  
    </div>
    
    <div fxLayout="column">
        <p>{{calcVal}}</p>
        <ul>
            <li *ngFor="let item of importi | async">{{item}}</li>
        </ul>
    </div> 
</div>
