<div fxLayout="row" style="width: 100%; height: 40px; background-color:#fff; padding:10px;">
    <input style="width: 0px;padding: 0px;border: 0px;"  id="txtcardinput" type="text" [(ngModel)]="cardSrc" (keyup.enter)="cercaUtente(cardSrc)" >
    <div fxFlex fxLayoutAlign="start center" *ngIf="userSelected">Carta numero {{usercardNo}} di {{userSelected.Nome}} {{userSelected.Cognome}} SALDO CARTA {{userSelectedSaldo | currency:'€'}}</div>
    <div fxFlex fxLayoutAlign="end center"> <mat-icon>settings</mat-icon></div>
</div>
<div fxLayout="row" style="width: 100%; height: calc(100% - 40px); background-color:#f5f5f5; padding:10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="40" fxLayoutGap="10px">
        <div class="display">
            {{displayText}}
        </div>
        <calcolatore fxFlex (display)="displayText = $event" (calcEv)="sum($event,'varie')"></calcolatore>
    </div>
    <div fxLayout="column" fxFlex="26" fxLayoutGap="10px" style="overflow-y: scroll;">
        <div style="width: 100%;height: 16%; min-height: 100px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="sumPreset(this.displayText,'varie')" fxLayoutAlign="center center">Varie</div>
        </div>
        <div *ngFor="let listItem of listino | async" style="width: 100%;height: 16%; min-height: 100px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="sumPreset(listItem.importo, listItem.tag)" fxLayoutAlign="center center">{{listItem.descrizione}}</div>
        </div> 
    </div>
    <div fxLayout="column" fxFlex="27" fxLayoutGap="10px" >
        <div class="prevTotale" fxLayout="row" fxLayoutAlign="end center">
           € {{calcVal.toFixed(2).replace('.',',')}}
        </div>
        <div style="width: 100%;height: 16%;min-height: 100px;" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="200" class="calcBtn" (click)="addebita()" style="background-color: #5fbd7f;border-color: #fff;color: #404040;" fxLayoutAlign="center center">Addebita</div>
        </div>
        <div *ngIf="totItem > 0" style="width: 100%;padding:10px;background-color: #fff;overflow-y: scroll;" fxLayout="column" fxLayoutGap="5px">
            <div class="itemScontrino" fxLayout="row" *ngFor="let item of importi | async" fxLayoutAlign="start center">
                <div fxFlex="30">{{item.tag}}</div>
                <div fxFlex="50"> € {{item.importo.toFixed(2).replace('.',',')}}</div>
                <div fxFlex fxLayoutAlign="end center" style="cursor: pointer;" (click)="remove(item)"> 
                    <div style="font-size: 20px;color:#ff0000;">x</div>
                </div>
            </div>
        </div>
    </div> 
</div>
