<h1 mat-dialog-title>Utente</h1>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center center" style="width: 300px;">
    <div fxLayout="column" *ngIf="usrObj">
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="usrObj.Nome">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Cognome</mat-label>
            <input matInput [(ngModel)]="usrObj.Cognome">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Numero di telefono</mat-label>
            <input matInput [(ngModel)]="usrObj.Telefono">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center center">
</mat-dialog-actions>
