<!-- open poss....
<ul>
  <li (click)="moditem(item.id)" *ngFor="let item of items | async">{{item.Nome}}</li>
</ul>

<button (click)="addItem()">Add</button>
<br>
<input type="text" (change)="findItem(telSrc)" [(ngModel)]="telSrc"> -->
<div fxLayout="row" style="height: 100%;">
  <div fxLayout="column" style="width: 80px; height: 100%;" fxLayoutAlign="start center">
    <a routerLink="/cassa" class="menuIcon" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">
      <fa-icon icon="cash-register"></fa-icon>
    </a>
    <a routerLink="/utenti" class="menuIcon" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">
      <fa-icon icon="users"></fa-icon>
    </a>
    <a routerLink="/impostazioni" class="menuIcon" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">
      <fa-icon icon="cogs"></fa-icon>
    </a>
  </div>
  <div fxLayout="column" style="width: calc(100% - 80px); height: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>

